# <font color='Purple'>Ciência dos Dados</font>
# <font color='blue'>"Dicas e Truques" de Ciência de Dados</font>
# <font color='blue'>Manipulação de Dados com Pandas</font>

# <font color='black'>Funções loc e iloc</font>

In [75]:
# importing pandas and numpy
import pandas as pd
import numpy as np


# criando um dataframe (tabela) de exemplo
df = pd.DataFrame({
    'renda_media' :     [ 10, 22, 13, 21, 12, 11, 17],
    'bairro_classe' : [ 'A', 'B', 'C', 'B', 'B', 'A', 'A'],
    'cidade' :    [ 'DF', 'RJ', 'SP', 'RJ', 'SP', 'RJ', 'SP'],
    'sexo_maioria' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'cor_favorita' : [ 'vermelha', np.NAN, 'amarela', np.NAN, 'preto', 'verde', 'vermelho']
    
})

# print para ver a tabela 
df

   renda_media bairro_classe cidade sexo_maioria cor_favorita
0           10             A     DF            M     vermelha
1           22             B     RJ            F          NaN
2           13             C     SP            F      amarela
3           21             B     RJ            M          NaN
4           12             B     SP            M        preto
5           11             A     RJ            M        verde
6           17             A     SP            F     vermelho

In [74]:
# selecionando todas as linhas que atendem a condição 
# pandas.DataFrame.loc [] . Só precisamos passar a condição dentro da instrução loc.
df.loc[df.renda_media >= 15]

   renda_media bairro_classe cidade sexo_maioria cor_favorita
1           22             B     RJ            F          NaN
3           21             B     RJ            M          NaN
6           17             A     SP            F     vermelho

In [76]:
# selecionando e fazendo vários condicionais 
df.loc[((df.renda_media >= 12)) &  (df.sexo_maioria == 'M')]

   renda_media bairro_classe cidade sexo_maioria cor_favorita
3           21             B     RJ            M          NaN
4           12             B     SP            M        preto

In [77]:
df

   renda_media bairro_classe cidade sexo_maioria cor_favorita
0           10             A     DF            M     vermelha
1           22             B     RJ            F          NaN
2           13             C     SP            F      amarela
3           21             B     RJ            M          NaN
4           12             B     SP            M        preto
5           11             A     RJ            M        verde
6           17             A     SP            F     vermelho

In [78]:
# slice ou fatiamento é tipo o "Query Builder" do SAS.... um método de filtragem
df.loc[1:3]

   renda_media bairro_classe cidade sexo_maioria cor_favorita
1           22             B     RJ            F          NaN
2           13             C     SP            F      amarela
3           21             B     RJ            M          NaN

In [ ]:
# selecionando algumas colunas com operadores condicionais 
df.loc[ (df.renda_media >= 12), ['cidade', 'sexo_maioria']]

In [ ]:
# Alterando (dando um update) na coluna que segue a condicional
df.loc[(df.renda_media >= 12), ['bairro_classe']] ='E'
df

In [ ]:
# Alterando (update) várias colunas  de acordo com a condicional
df.loc[(df.renda_media >= 20), ['bairro_classe', 'cidade']] = ['AA','CE']
df

In [85]:
# selecinando linhas pelo índice
df.iloc[[0,2,6]]

   renda_media bairro_classe cidade sexo_maioria cor_favorita
0           10             A     DF            M     vermelha
2           13             E     SP            F      amarela
6           17             E     SP            F     vermelho

In [ ]:
df

In [ ]:
# selecionando linhas com indices e colunas especificas 
df.iloc[[0,2],[1,3]]

In [90]:
# selecionando uma faixa (range) de linhas
df.iloc[1:3]

   renda_media bairro_classe cidade sexo_maioria cor_favorita
1           22            AA     CE            F          NaN
2           13             E     SP            F      amarela

In [91]:
df

   renda_media bairro_classe cidade sexo_maioria cor_favorita
0           10             A     DF            M     vermelha
1           22            AA     CE            F          NaN
2           13             E     SP            F      amarela
3           21            AA     CE            M          NaN
4           12             E     SP            M        preto
5           11             A     RJ            M        verde
6           17             E     SP            F     vermelho

In [ ]:
# selecionando uma faixa de linhas e colunas 
df.iloc[1:3,2:4]

In [ ]:
df

# Fim

## Valeu!

### #Facebook - Ciencia dos Dados <a href="http://facebook.com/cienciadosdadosbr">facebook.com/cienciadosdadosbr</a>

### #**Telegram** - Scripts e Datasets - Comunidade Telegram <a href="https://t.me/cienciadosdadosraiz">https://t.me/cienciadosdadosraiz</a>

### #YouTube - Mais Aulas como essa no YouTube <a href="https://www.youtube.com/watch?v=IaIc5oHd3II&t=1569s">https://www.youtube.com/watch?v=IaIc5oHd3II&t=1569s</a>

In [70]:
from IPython.core.display import HTML
HTML('<iframe width="380" height="200" src="https://www.youtube.com/embed/q2GnfBLgcio" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>')